<%- include('../Partials/Header') %>
    <div class="d-flex align-items-center justify-content-center vh-80">
        <div class="col-5">
            <form action="addplayer" method="post" class="border p-3  rounded bg-white shadow">
                <h3 class="text-secondary text-center mb-3">Sports Tournament</h3>
                <div class="d-flex gap-2">
                    <div class="col-6">
                        <label for="" class="text-secondary">Name :</label>
                        <input type="text" name="name" class="form-control" placeholder="Enter Name">
                    </div>
                    <div class="col-6">
                        <label for="" class="text-secondary">Email :</label>
                        <input type="email" name="email" class="form-control" placeholder="Enter Email">
                    </div>
                </div>
                <div class="d-flex align-items-center gap-2 mt-2">
                    <div class="col-6">
                        <label for="" class="text-secondary">Password :</label>
                        <input type="password" name="password" class="form-control" placeholder="Enter Password">
                    </div>
                    <div class="col-6 text-center">
                        <label for="" class="text-secondary">Gender : </label>
                        <div class="d-flex justify-content-center">
                            <input type="radio" id="male" name="gender" value="Male" class="me-1">
                            <label for="male" class="text-dark me-3">Male</label>

                            <input type="radio" id="female" name="gender" value="Female" class="me-1">
                            <label for="female" class="text-dark">Female</label>
                        </div>
                    </div>
                </div>
                <label for="" class="text-secondary col-12 mt-3">Select Games : </label>
                <div class="d-flex align-items-center justify-content-between text-dark gap-2">
                    <div class="col-2">
                        <input type="checkbox" name="games" value="Cricket"> Cricket<br>
                        <input type="checkbox" name="games" value="basketball"> Basketball<br>
                    </div>
                    <div class="col-2">
                        <input type="checkbox" name="games" value="Football"> Football<br>
                        <input type="checkbox" name="games" value="Tennis"> Tennis<br>
                    </div>
                    <div class="col-2">
                        <input type="checkbox" name="games" value="Volleyball"> Volleyball<br>
                        <input type="checkbox" name="games" value="Badminton"> Badminton<br>
                    </div>
                    <div class="col-6 text-center">
                        <div class="col-8 m-auto">
                            <label for="dropdown" class="text-secondary me-3">Branch :</label>
                            <select id="dropdown" class="form-control" name="branch">
                                <option value="" selected>--Select Branch--</option>
                                <option value="RnW-1">RnW-1</option>
                                <option value="RnW-2">RnW-2</option>
                                <option value="RnW-3">RnW-3</option>
                                <option value="RnW-4">RnW-4</option>
                                <option value="RnW-5">RnW-5</option>
                                <option value="RnW-6">RnW-6</option>
                                <option value="RnW-7">RnW-7</option>
                                <option value="RnW-8">RnW-8</option>
                            </select>
                        </div>
                    </div>
                </div>
                <label for="textarea" class="text-secondary mt-2">Address :</label>
                <textarea id="textarea" class="form-control" rows="1" placeholder="Enter Address"
                    name="address"></textarea>
                <div class="text-center">
                    <button class="btn btn-outline-dark mt-2 text-center">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <%- include('../Partials/Footer') %>