<%- include('../Partials/Header') %>
    <h1 class="text-center mt-5">Welcome to Home Page</h1>
    <h3 class="text-center mt-5">Sports Tournament Registration Desk</h3>
    <%- include('../Partials/Footer') %>